body {
    background-color: #4DB9DE;
}

.container {
    width: 800px;
    margin-top: 100px;
    margin-left: calc( 50% - 400px );
}
    .left {
        width: 40%;
        float: left;
        background-color: #5284DC;
    }
        .left > h1 {
        }
        .left > .links {
        }
        .left > .links > a {
        }
        .left > .links > span {
        }
    .right {
        width: 60%;
        float: left;
        padding: 60px;
        background-color: #fff;

        position: relative;
    }
        .right > .close {
            width: 60px;
            line-height: 60px;
            text-align: center;
            font-size: 30px;

            position: absolute;
            top: 0;
            right: 0;
        }
        form {
            width: 100%;
        }
            form > .form-row {
                width: 100%;
                border: none;
                margin-bottom: 30px;
            }
                form > .form-row:last-child {
                    margin-bottom: 0;
                }
                form > .form-row > label {
                    width: 100%;
                    color: grey;
                    font-size: 15px;
                    line-height: 20px;
                    text-transform: uppercase;
                }
                form > .form-row > input {
                    width: 100%;
                    font-size: 22px;
                    line-height: 40px;
                    border: none;
                    border-bottom: 2px solid #ccc;
                }
                    form > .form-row > input:focus {
                        outline: none;
                    }
                form > .form-row > .btn {
                    padding-left: 20px;
                    padding-right: 20px;
                    background-color: #005DDA;
                    color: #fff;
                    font-size: 20px;
                    line-height: 40px;
                    border-radius: 20px;
                }
                form > .form-row > span {
                    line-height: 40px;
                    margin-left: 20px;
                    margin-right: 20px;
                }
                form > .form-row > a {
                    color: #36f;
                    text-decoration: none;
                    line-height: 40px;
                }